@font-face {
    font-family: myrb;
    src: url('myriadpro-bold_0-webfont.eot');
    src: url('myriadpro-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-bold_0-webfont.woff') format('woff'),
         url('myriadpro-bold_0-webfont.ttf') format('truetype'),
         url('myriadpro-bold_0-webfont.svg#myriad_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: myrbc;
    src: url('myriadpro-boldcond_0-webfont.eot');
    src: url('myriadpro-boldcond_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-boldcond_0-webfont.woff') format('woff'),
         url('myriadpro-boldcond_0-webfont.ttf') format('truetype'),
         url('myriadpro-boldcond_0-webfont.svg#myriad_probold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: myrbci;
    src: url('myriadpro-boldcondit_0-webfont.eot');
    src: url('myriadpro-boldcondit_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-boldcondit_0-webfont.woff') format('woff'),
         url('myriadpro-boldcondit_0-webfont.ttf') format('truetype'),
         url('myriadpro-boldcondit_0-webfont.svg#myriad_proBdCnIt') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: myrbi;
    src: url('myriadpro-boldit_0-webfont.eot');
    src: url('myriadpro-boldit_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-boldit_0-webfont.woff') format('woff'),
         url('myriadpro-boldit_0-webfont.ttf') format('truetype'),
         url('myriadpro-boldit_0-webfont.svg#myriad_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: myrc;
    src: url('myriadpro-cond_0-webfont.eot');
    src: url('myriadpro-cond_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-cond_0-webfont.woff') format('woff'),
         url('myriadpro-cond_0-webfont.ttf') format('truetype'),
         url('myriadpro-cond_0-webfont.svg#myriad_procondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: myrci;
    src: url('myriadpro-condit_0-webfont.eot');
    src: url('myriadpro-condit_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-condit_0-webfont.woff') format('woff'),
         url('myriadpro-condit_0-webfont.ttf') format('truetype'),
         url('myriadpro-condit_0-webfont.svg#myriad_procondensed_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: myri;
    src: url('myriadpro-it_0-webfont.eot');
    src: url('myriadpro-it_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-it_0-webfont.woff') format('woff'),
         url('myriadpro-it_0-webfont.ttf') format('truetype'),
         url('myriadpro-it_0-webfont.svg#myriad_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: myrr;
    src: url('myriadpro-regular_0-webfont.eot');
    src: url('myriadpro-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-regular_0-webfont.woff') format('woff'),
         url('myriadpro-regular_0-webfont.ttf') format('truetype'),
         url('myriadpro-regular_0-webfont.svg#myriad_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: myrsb;
    src: url('myriadpro-semibold_0-webfont.eot');
    src: url('myriadpro-semibold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-semibold_0-webfont.woff') format('woff'),
         url('myriadpro-semibold_0-webfont.ttf') format('truetype'),
         url('myriadpro-semibold_0-webfont.svg#myriad_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: myrsbi;
    src: url('myriadpro-semiboldit_0-webfont.eot');
    src: url('myriadpro-semiboldit_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-semiboldit_0-webfont.woff') format('woff'),
         url('myriadpro-semiboldit_0-webfont.ttf') format('truetype'),
         url('myriadpro-semiboldit_0-webfont.svg#myriad_prosemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: myrls;
    src: url('967639-webfont.eot');
    src: url('967639-webfont.eot?#iefix') format('embedded-opentype'),
         url('967639-webfont.woff') format('woff'),
         url('967639-webfont.ttf') format('truetype'),
         url('967639-webfont.svg#myriad_prolight_semiextended') format('svg');
    font-weight: normal;
    font-style: normal;

}